<% provide(:title, "People with gifts") %>
<%= flash_messages %>
<div class="mdl-cell">
  <% @families.each do |family| %>
    <h2 class="mdl-typography--subhead"><%= family.name %></h2>
    <ul class="mdl-list">
      <% family.users_except(current_user.id).each do |user| %>
        <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">person</i>
            <%= link_to user.name.capitalize!, user_path(user) %>
            <span class="mdl-list__item-sub-title">
              <%= "#{user.gifts.length} #{user.gifts.length>1 ? 'gifts' : 'gift'}" %></span>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
