<% if @is_current_user %>
  <% provide(:title, "Home") %>
<% else %>
  <% provide(:title, "#{@user.name.titleize}'s Profile") %>
<% end %>
<%= flash_messages %>
<div class="mdl-cell">
  <%= render 'card-wishlist', user: @user %>
</div>
<% if @is_current_user %>
  <div class="mdl-cell">
    <%= render 'card-claimed-gifts', user: @user, gifts: @claimed_gifts %>
  </div>
<% end %>
<div class="mdl-cell">
  <%= render 'card-user-details', user: @user %>
</div>
