<% if current_user == @user %>
  <% provide(:title, "My Profile") %>
<% else %>
  <% provide(:title, "#{@user.name.capitalize}'s Profile") %>
<% end %>
<%= flash_messages %>
<div class="page-content">
  <div class="mdl-grid">
    <%= render 'card-wishlist', user: @user %>
    <%= render 'card-user-list', users: @users %>
  </div>
</div>
