<% provide(:title, "Gifts") %>
<div class="mdl-cell mdl-cell--12-col">
  <h2 class="mdl-typography--title">Unclaimed gifts</h2>
    <%= render "gift-table-all", gifts: @unclaimed_gifts %>
  <h2 class="mdl-typography--title">Claimed gifts</h2>
    <%= render "gift-table-all", gifts: @claimed_gifts %>
</div>
