<% provide(:title, "#{@gift.name} for #{@gift.user.name.capitalize}") %>
<%= flash_messages %>
<div class="mdl-cell">
  <%= render 'card-gift', gift: @gift %>
</div>
<div class="mdl-cell">
  <%= render 'card-wishlist', user: @gift.user %>
</div>
