<% provide(:title, @gift.name) %>
<div class="page-content">
  <%= flash_messages %>
  <div class="mdl-grid">
    <%= render 'card-gift', gift: @gift %>
    <%= render 'card-wishlist', user: @gift.user %>
  </div>
</div>
