<% provide(:title, "Unclaimed Gifts") %>
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color--primary-dark mdl-color-text--white">
      <h3 class="mdl-card__title-text">Unclaimed Gifts</h3>
    </div>
    <%= render "gift-table-all", gifts: @gifts %>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to "All Gifts", gifts_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
  </div>
</div>
