.mdl-layout {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding: 24px;
  flex: none;
}

.login > .mdl-card__title {
  height: 150px;
  background-image: url('/images/santa.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
