.login > .mdl-card__title {
  height: 150px;
  background-image: url('/images/santa.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.santa > .mdl-card__title {
  height: 170px;
  background-image: url('/images/santadab2.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.profile > .mdl-card__title {
  height: 170px;
  background-image: url('/images/clothes.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mdl-card {
  width: 330px;
}
