<% provide(:title, "Wishlist!") %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%= render "navbar", locals: { user: @user } %>
  <main class="mdl-layout-content">
    <%= flash_messages %>
        <%= render partial: "wl_table", locals: { wishlists: @others_wishlists, user: @user } %>
  </div>
</div>
