<% provide(:title, "Wishlist!") %>

<div class="container">
  <%= render "navbar" %>
  <div class="row">
    <div class="col shadow-sm">
      <%= flash_messages %>
      <h3>Wishlists</h2>
      <p>Below you'll find everyone's wishlist!</p>
      <%= render partial: "wl_table", locals: { wishlists: @others_wishlists } %>
    </div>
  </div>
</div>
