<% provide(:title, "Wishlist!") %>

<div class="container">
  <%= render "navbar", locals: { user: @user } %>

  <div class="row">
    <div class="col shadow-sm">
      <%= flash_messages %>
      <%= render partial: "wl_table", locals: { wishlists: Array(@wishlist) } %>
    </div>
  </div>
</div>
