<% if current_user == gift.user %>
  <%= link_to(:edit, edit_gift_path(gift), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored") %>
<% else %>
  <%= form_with(model: @gift, local: true) do |f| %>
    <% if !gift.claimed_by? %>
      <% options = { action: "Claim", claimed_by: current_user.id, style: "mdl-button--colored mdl-button--raised" } %>
    <% else %>
      <% if gift.claimed_by == current_user.id %>
        <% options = { action: "Unclaim", claimed_by: nil, style: "mdl-button--raised button-gift-action-unclaim" } %>
      <% else %>
        <% options = { action: "Claimed", claimed_by: gift.claimed_by, style: "mdl-button--disabled" } %>
      <% end %>
    <% end %>
    <% if options[:action] == "Claimed" %>
      <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
        Claimed
      </button>
    <% else  %>
      <%= f.hidden_field :claimed_by, value: options[:claimed_by] %>
      <%= f.submit options[:action], class: "mdl-button mdl-js-button #{options[:style]}" %>
    <% end %>
  <% end %>
<% end %>
