<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
    <h3 class="mdl-card__title-text">Gifts You've Claimed</h3>
  </div>
  <div class="mdl-card__supporting-text">
  <% if gifts.any? %>
  <%= render "gift-list", gifts: gifts %>
  <% else %>
    <h6>You have not claimed any gifts</h6>
  <% end %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= link_to "claim more gifts", gifts_path, class: "mdl-button mdl-js-button mdl-button--colored" %>
    <% if current_page?(controller: 'gifts', action: 'new') %>
      <%= link_to "Go Home", user, class: "mdl-button mdl-js-button mdl-button--colored" %>
    <% end %>
  </div>
</div>
