<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">People with a wishlist</h1>
    </div>
    <div class="mdl-card__supporting-text">
      <h6>This is a quick way to get to a person's wishlist!</h6>
      <ul class="mdl-list">
        <% users.each do |user| %>
          <% if user.gifts.any? %>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">card_giftcard</i>
              <%= link_to user.name.capitalize!, user_path(user) %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
