<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
  <div class="santa mdl-card mdl-shadow--8dp">
    <div class="mdl-card__title mdl-color--red-600 mdl-color-text--white">
      <h3 class="mdl-card__title-text">Holiday Chores 🧦</h3>
    </div>
    <div class="mdl-card__supporting-text">
      <h6>Complete all your chores so you don't have to look at dabbing Santa any longer</h6>
      <ul class="demo-list-icon mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <% if @user.wishlist.present? || !@user.gifts.any? %>
            <i class="material-icons mdl-list__item-icon mdl-color-text--orange">info</i>
            <% else %>
            <i class="material-icons mdl-list__item-icon mdl-color-text--green">check_circle</i>
            <% end %>
            Add some gifts to your Christmas wishlist
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
