<div class="mdl-cell">
  <div class="profile mdl-card mdl-shadow--8dp">
    <div class="mdl-card__title mdl-color--green-900 mdl-color-text--white">
      <h3 class="mdl-card__title-text">Unfinished Profile 👤</h3>
    </div>
    <div class="mdl-card__supporting-text">
      <h6>Complete your profile</h6>
    </div>
    <div class="mdl-card__actions mdl-card--border">
    <%= link_to "Edit Profile", edit_user_url(@user), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-button-effect" %>
    </div>
  </div>
</div>
