<table id="wishlist" class="mdl-data-table mdl-js-data-table">
  <thead class="thead-light">
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Gift</th>
      <th class="mdl-data-table__cell--non-numeric">Person</th>
      <th class="mdl-data-table__cell--non-numeric">Claim</th>
    </tr>
  </thead>
  <tbody>
    <% gifts.each do |gift| %>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><%= link_to gift.name, gift_path(gift.id) %></td>
      <td class="mdl-data-table__cell--non-numeric"><%= gift.user.name.capitalize %></td>
      <td class="mdl-data-table__cell--non-numeric"><%= render "button-claim", gift: gift %></td>
    </tr>
    <% end %>
  </tbody>
</table>
