<% if gifts.any? %>
  <% gifts.each do |gift| %>
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <%= link_to gift.name, gift_path(gift) %>
      <% unless current_user == gift.user %>
      <span class="mdl-list__item-sub-title">
        <%= link_to gift.user.name.capitalize, user_path(gift.user.id), class: "mdl-list__item--two-line mdl-list__item-primary-content mdl-list__item-sub-title" %>
      <% end %>
      </span>
    </span>
    <%= render "button-gift-actions", gift: gift %>
  </li>
  <% end %>
<% else %>
  <div class="mdl-card__supporting-text">
    <h6>There are no unclaimed gifts available! Ask people to add items to their list.</h6>
  </div>
<% end %>
