<nav class="navbar navbar-expand mb-3">
  <%= link_to "🎅 h0 h0 h0", root_path, class: "navbar-brand" %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Wishlists", wishlists_path, class: "nav-link" %>
    </li>
    <% if current_user %>
    <li class="nav-item">
      <%= link_to "My Profile", current_user, class: 'nav-link' %>
    </li>
    <% end %>
  </ul>
</nav>
